{% extends "template.html" %}
{% block content %}
 <div class="row">
    <div class="icpc col-sm-12">
        <h1>Programming Contests</h1>
        <p>I am a decently good competitive programmer and have been involved in Berkeley's ACM ICPC teams.</p>
        <ul>
            <li>My Codeforces handle is <em>Doriath</em> and I have been in division 1 (reached orange) since last year</li>
            <li>I am a member of the Berkeley Blue team this year and was also part of the Berkeley Radicals team last year.
            <li>I won a T-shirt from the Facebook Hacker Cup this year by placing in the top 3%-ish
            <li>In high school, I came in the top 20 in the Canadian Computing Competition and was invited to the Canadian Computing Olympiad (CCO) where I received the bronze medal. I was also in the platinum division of USACO.</li>
        </ul>

    </div>
    <div class="other-contest col-sm-12">
        <h1>Miscellaneous Contests/Other stuff</h1>
        <ul>
            <li>
                I won the CS 61A Hog Contest in Fall 2017. Later I converted the infrastructure I built for winning the contest into a system to display a live scoreboard for the contest.
            </li>
            <li>
                I <a href="https://github.com/sxyu/cRowdy-solver/tree/master/">won</a> the Fall 2018 CS 170 Final Competition, related to graph partitioning.
            </li>
            <li>
                I placed first at Startup Weekend Vancouver 2016, along with my two team members: Berkeley MET student Luofei Chen and Mr. Shinloong Leong from Singapore.
                While I don't really participate in startup competitions etc. anymore, it was a very interesting experience.
                <img src="img/swvan.jpg" alt="Startup Weekend Prize Ceremony" class="img-fluid">
            </li>
            <li>
                In EE 126, my final project group built a program to transmit text over sound between two computers (this was one of the project options). I was able to get it to achieve a 200 bits-per-minute transmission rate with good robustness using frequeuency modulation, Reed-Solomon and Huffman coding. We were deemed to be the best project group and were given the opportunity to present to the class.
            </li>
        </ul>
    </div>
 </div>
{% endblock %}
