{% extends "template.html" %}
{% block content %}
 <div class="row">
    <div class="icpc col-sm-12">
        <h1>Programming Contests</h1>
        <p>I am a decently good competitive programmer and have been involved in Berkeley's ACM ICPC teams. Recently, however, I have become inactive as I decided to focus on research.</p>
        <ul>
            <li>I was a member of the Berkeley Blue team in 2020 (North American Championship) and was also part of the Berkeley Radicals team last year.
            <li>I was invited Canadian Computing Olympiad (CCO) as one of the top finishers in CCC sometime in high school. I was also in the platinum division of USACO.</li>
            <li>My Codeforces handle is <em>Doriath</em> and I am in division 1 (barely orange).</li>
        </ul>

    </div>
    <div class="other-contest col-sm-12">
        <h1>Miscellaneous Contests</h1>
        <ul>
            <li>
                I won the CS 61A Hog Contest in Fall 2017
            </li>
            <li>
                I won the Fall 2018 CS 170 Final Competition
            </li>
            <li>
                I placed first at Startup Weekend Vancouver 2016, along with two team members.
        </ul>
    </div>
    <div class="other-contest col-sm-12">
        <h1>Hobbies</h1>
        <p>
        These days I don't have any real hobbies, except playing Age of Empires II sometimes.
        I used to play the flute and organize stargazing events in high school.
        </p>
    </div>
 </div>
{% endblock %}
