{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="about col-sm-12">
        <h1>About</h1>
        <p>
        Hi! I am a senior CS and applied math double major at UC Berkeley.
        Currently, I am working on 3D human-related computer vision research with Prof. Angjoo Kanazawa.
        My topics of interest are at the interesection of vision and graphics. Recently, I am particularly interested in volume rendering both applied to photogrammetry and as an alternative to polygons and physically-based rendering.
        </p>
        <p>
        Over the past few years I have explored several distinct areas of computer science.
        Last spring, I tried my hands on some problems in complexity theory, specifically in query complexity, advised by Prof. Avishay Tal. Please check out <a href="https://funcplot.com/table">this table</a>.
        Before that, I worked on some human and hand pose tracking at the FHL Vive Center and anomaly detection models for SETI.
        </p>
        <p>
        Prior to Berkeley, I lived in Vancouver, Canada for many years.
        I was born in Zhejiang province, China.
        </p>
    </div>
    <div class="col-sm-12">
        <h2>Experience</h2>
        <ul class="timeline">
            {% for entry in timeline %}
            <li class="timeline-entry">
                <strong>{{ entry.time }}</strong> | {{ entry.position }}, {{ entry.org }}
                <p>{{ entry.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-12">
        <h2>Publications</h2>
        <div id="pubs">
            {% for pub in pubs %}
            <div class="pub row pt-2 pb-2">
                <div class="col-sm-2 pub-preview">
                    {% if "image" in pub %}
                    <img src="{{ pub.image }}" alt="{{ pub }} image">
                    {% endif %}
                </div>
                <div class="col">
                    <h4>{{ pub.title }}</h4>
                    <div class="pub-authors">
                    {{ pub.authors }}
                    </div>
                    <div class="pub-venue">
                        <small>
                        {{ pub.venue }}
                        </small>
                    </div>
                    <div class="pub-links">
                    {% if "arxiv_link" in pub %}
                    <a href="{{ pub.arxiv_link }}">arXiv</a>
                    {% endif %}
                    {% if "paper_link" in pub %}
                    <a href="{{ pub.paper_link }}">paper</a>
                    {% endif %}
                    {% if "web_link" in pub %}
                    <a href="{{ pub.web_link }}">Website</a>
                    {% endif %}
                    {% if "video_link" in pub %}
                    <a href="{{ pub.video_link }}">Video</a>
                    {% endif %}
                    </div>
                    <div class="pub-description pt-1">
                        {% if "abstract" in pub %}
                        <p class="pub-abstract">
                        {{ pub.abstract }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--
            <div>
                <p> <strong>pixelNeRF: Neural Radiance Fields from One or Few Images</strong> Alex Yu, Vickie Ye, Matt Tancik, Angjoo Kanazawa<br />
                <em>IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR) 2021  <a href="/pixelnerf">Website</a></em>
            </div>
            <div>
                <p> <strong>Real-Time Hand Model Estimation from Depth Images for Wearable Augmented Reality Glasses</strong> Bill Zhou, Alex Yu, Joseph Menke, and Allen Yang<br />
                <em>IEEE International Symposium on Mixed and Augmented Reality (ISMAR) 2019</em>
            </div>
            <div>
                <p><strong>The Breakthrough Listen Search for Intelligent Life: Data Formats, Reduction and Archiving</strong>
                Matthew Lebofsky et al.<br />
                <em>Publications of the Astronomical Society of the Pacific (PASP)</em>
            </div>
            -->
        </div>
    </div>
    <div class="coursework col-sm-12">
        <h2>Coursework</h2>
        <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#coursework-collapse" role="button" aria-expanded="false" aria-controls="coursework-collapse">
            Show
        </a>
        </p>
        <div class="collapse" id="coursework-collapse">
            {% include "coursework.html" %}
        </div>
    </div>
</div>
{% endblock %}
