{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="about col-sm-12">
        <h1>About</h1>
        <p>
        Hi! I will be a founding research scientist at <a href="lumalabs.ai">Luma AI</a> starting Spring 2022, and am also planning to start a PhD in Fall 2022.
        Until the end of winter, I will continue on 3D computer vision research with {{ autolink("Prof. Angjoo Kanazawa") }} in BAIR.
        My research interest is at the intersection of vision and graphics. Recently, I am particularly interested in differentiable rendering and neural representations.
        </p>
        <p>
        Prior to Berkeley, I lived in Vancouver, Canada for many years.
        In fact,
        for my junior and senior years, I was based in the Vancouver area with my family and studying remotely.
        </p>
    </div>
    <div class="col-sm-12 pt-2">
        <h2>Experience</h2>
        <ul class="timeline">
            {% for entry in timeline %}
            <li class="timeline-entry">
                <strong>{{ entry.time }}</strong> | {{ entry.position }}, {{ entry.org }}
                <p class="timeline-description">{{ entry.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-12 pt-2">
        <h2>Publications</h2>
        <div id="pubs">
            {% for pub in pubs %}
            <div class="pub row pt-2 pb-2">
                <div class="col-sm-2 pub-preview">
                    {% if "image" in pub %}
                    <img src="{{ pub.image }}" alt="{{ pub.title }} image">
                    {% endif %}
                </div>
                <div class="col">
                    <h4>{{ pub.title }}</h4>
                    <div class="pub-authors">
                        {% for author in pub.authors %}
                        {{ autolink(author) }}{{ ", " if not loop.last else "" }}
                        {% endfor %}
                    </div>
                    <div class="pub-venue pb-1">
                        <small>
                        {{ pub.venue }}
                        <span class="pub-award"> {{ pub.award }} </span>
                        </small>
                    </div>
                    <div class="pub-links">
                    {% if "arxiv_link" in pub %}
                    <a href="{{ pub.arxiv_link }}">arXiv</a>
                    {% endif %}
                    {% if "paper_link" in pub %}
                    <a href="{{ pub.paper_link }}">Paper</a>
                    {% endif %}
                    {% if "web_link" in pub %}
                    <a href="{{ pub.web_link }}">Website</a>
                    {% endif %}
                    {% if "video_link" in pub %}
                    <a href="{{ pub.video_link }}">Video</a>
                    {% endif %}
                    </div>
                    <div class="pub-description pt-1">
                        {% if "abstract" in pub %}
                        <p class="pub-abstract">
                        {{ pub.abstract }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <small>
            * = Equal contribution
            </small>
        </div>
    </div>
    <div class="coursework col-sm-12 pt-2">
        <h2>Coursework</h2>
        <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#coursework-collapse" role="button" aria-expanded="false" aria-controls="coursework-collapse">
            Show
        </a>
        </p>
        <div class="collapse" id="coursework-collapse">
            {% include "coursework.html" %}
        </div>
    </div>
    <div class="coursework col-sm-12 pt-2">
        <h2>Fun facts</h2>
        <ul>
            <li> I was born on Zhoushan Island in Zhejiang province, China but spent most of my childhood in Hangzhou.
My Chinese name is 余思贤 / 余思賢 
        </ul>
    </div>
    <div class="col-sm-12">
        <a href="https://github.com/sxyu/sxyu.github.io"><small>Source code for this website</small></a>
    </div>
</div>
{% endblock %}
