{% extends "template.html" %}
{% block content %}
 <div class="row">
    <div class="projs col-sm-12">
        <h1>Personal Projects</h1>
        <ul>
            <li>
                <strong>Nivalis plotter</strong>
                (<a href="https://funcplot.com">funcplot.com</a>):
                an open-source graphing calculator written in C++, with both desktop and online (using emscripten/wasm) versions.
                It is not feature-complete compared to Desmos and Geogebra, but it is pretty good at plotting/critical point finding
                Documentation/project page: <a href="https://github.com/sxyu/nivalis">see github</a>
                <div>
                <img src="img/nivalis.png" alt="Nivalis" class="img-fluid">
                </div>
                This is the successor of the Cantus project which I made in high school.
            <li>
                <strong>SMPL-X ++</strong>: SMPL-X, SMPL+H, SMPL implementation in C++ with built-in mesh visualizer.
                <a href="https://github.com/sxyu/smplxpp">Project page</a>
                <div>
                <img src="img/smpl-visual.png" alt="SMPL-X demo" class="img-fluid">
                </div>
            <li>
                <strong>Avatar</strong> (<a href="https://drive.google.com/file/d/1KQ0g_R77x80c6WbFKTXefvsNO9F1ITxW/view?usp=sharing">demo video</a>): 
                Fitting SMPL (human body) model to a point cloud in real time on a CPU. 
                <div>
                <img src="img/avatar-new.png" alt="Avatar Tracking Demo" class="img-fluid">
                </div>
            <li>
                <strong>Boolean Function Complexity Measures</strong> (<a href="https://funcplot.com/table">link</a>): an editable and interactive online Boolean function complexity measure table
            <li>
                I built the <a href="http://seti.berkeley.edu/opendata">Berkeley SETI Open Data Archive</a>, a modern web app for the public to access SETI data.
                <div>
                <img src="img/bldata.png" alt="Breakthrough Listen Open Data Archive" class="img-fluid">
                </div>
        </ul>
        <h2>Miscellaneous</h2>
        <ul>
            <li>
                <a href="https://github.com/sxyu/Quaternion-SR-UKF">Quaternion SRUKF</a> is a modern C++ implementation of Square Root Unscented Kalman Filter with support for quaternion vectors.
            <li>
                <strong>meshview</strong>: Simple OpenGL mesh and point cloud viewer in C++ for rapid prototyping.
                <a href="https://github.com/sxyu/meshview">Project page</a>
                <div>
                <img src="img/depth-cam.png" alt="meshview" class="img-fluid">
                </div>
            <li>
                Bacon2, a Python C++ extension, is a system for running the Hog Contest in CS 61A (the code is now private to prevent students from taking advantage of it). This is the successor to Bacon, which I created previously for the same purpose.
            <li>
                Transmitting text using sound: this was my final project in EE 126. I was able to get it to achieve a 200 bits-per-minute transmission rate with good robustness using frequeuency modulation, Reed-Solomon and Huffman coding, which was one of the best in the class.
            <li>
                <a href="https://github.com/sxyu/watplot">watplot</a> is a fast interactive visualization system for <em>SETI: Breakthrough Listen</em> radio telescope data written in C++.
        </ul>
    </div>
</div>
{% endblock %}
