{% extends "template.html" %}
{% block content %}
 <div class="row">
    <div class="about col-sm-12">
        <h1>Teaching</h1>
        <ul>
        <li>
            Fall 2019: UGSI for CS 61A
            <ul>
                <li>
                    I run the
                <a href="http://hog-contest.cs61a.org">Hog Strategy Contest</a>. The infrastructure has been updated this semester to cache results, making the live leaderboard quite a bit faster.
                <li>
                You may find <a href="https://drive.google.com/drive/u/1/folders/1MWK2JEC4wqibvrqm9JblNR6tlprst6qe">some slides here</a>
            </ul>
        </li>
        </ul>
    </div>
</div>
{% endblock %}
